.cart {
    font-size: 18px;
}
  
.cart-item {
    padding-top: 20px;
}

.cart-item .details {
  width: 100%;
  background-color: #CCF;
  margin: 3px;
  padding: 3px;
  vertical-align: middle;
  border: 1px solid black;
}

.cart-item .details span{
  display: block;
}


.item-index-list .item-info {
  width: 100%;
  background-color: #CCF;
  margin: 3px;
  padding: 3px;
  vertical-align: middle;
  border: 1px solid black;
}

.item-index-list .item-info span{
  display: block;
}
